.todoList{
    width: 600px;
    margin: 100px auto;
}
.todoListInput{
    margin-bottom: 20px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex .del{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
    color: #ff3448;
    cursor: pointer;
}